{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<style>
  .order-details {
    margin-bottom: 30px;
  }

  .order-details p {
    margin-bottom: 10px;
  }

  .order-items {
    margin-bottom: 30px;
  }

  .order-items h2 {
    margin-bottom: 10px;
  }

  .order-items table {
    margin-bottom: 0;
  }

  .order-items-total {
    margin-top: 30px;
  }
</style>

<div class="container">
  <div class="m-5">
    <div class="order-details">
      <h2>Order Details</h2>
      <div class="order-details-content">
        <p><strong>Order ID:</strong> {{ order.pk }}</p>
        <p><strong>User:</strong> {{ order.user }}</p>
        <p><strong>Collection Center:</strong> {{ order.collection_center }}</p>
        <p><strong>Pickup Location:</strong> {{ order.pickup_location }}</p>
        <p><strong>Pickup Date:</strong> {{ order.pickup_date }}</p>
        <p><strong>Status:</strong> {{ order.status }}</p>
      </div>
    </div>

    <div class="order-items">
      <h3>Order Items</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Cloth</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in order.orderitem_set.all %}
          <tr>
            <td>{{ order_item.cloth }}</td>
            <td>{{ order_item.quantity }}</td>
            <td>{{ order_item.quantity|multiply:order_item.cloth.offer_price }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="text-right"><strong>Total Price:</strong></td>
            <td>${{ order_total }}</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="order-items-total">
      <h4>Total Price of the Order: ${{ order_total }}</h4>
    </div>

    <div class="order-actions mt-5">
      <div class="btn-group" role="group" aria-label="Order Actions">
        <button type="button" class="btn btn-success">Mark as Completed</button>
        <div class="m-2"></div> <!-- Add space between the buttons -->
        <button type="button" class="btn btn-danger">Cancel Order</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Bootstrap JS script -->

{% endblock %}
